In [5]:
# exception HAndling 


#print (1/0)
age = 23
try:
    if age >=18:
        print('Can vote')
    else:
        print('Cant vote')
except TypeError:
    print('Something went wrong!!')
    print('Invalid datatype comparison!!')

except:
    print('Invalid Code!!')

Can vote

In [ ]:
def student_records(**kwargs):
    import pandas as pd
    try:
       data = pd.DataFrame(kwargs)
       return data 
    except:
        data = pd.DataFrame(kwargs,index = [1])
        return data
    #try:
    #    pass
    #except:
    #    print (ss)

In [33]:
student_records(NAme = ['Anupam','NAkul','Anjany'],
                Age = [20,22,24],
                Address = ['Rohtak','Narela','UP'],
                Sec=list('abc'))

     NAme  Age Address Sec
0  Anupam   20  Rohtak   a
1   NAkul   22  Narela   b
2  Anjany   24      UP   c

In [41]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)
    except:
          print('Timer has been Stopped!!')

In [42]:
show_time()

Fri Jul  4 10:39:59 2025
Timer has been Stopped!!

In [9]:
import anupam as A
print(A.check_palindfrome('nitin'))

Palindrome

In [8]:
import math as m

In [14]:
import anupam as A
A.print_star(n=8,typ='left')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [12]:
A.factorial(10)

3628800

In [15]:
A.give_fibo(5)

[0, 1, 1, 2, 3]

In [16]:
A.sum_of_n_natural_numbers(15)

120

In [27]:
A.sound_box(10)

In [ ]:
import anupam as A
A.sound_box(30)

In [10]:
from anupam import max_sales
print('Done')

Done

In [8]:
from anupam import students_records
print('done')

done

In [17]:
students_records(name = 'Anupam',age = 33)

{'name': 'Anupam', 'age': 33}

     name  age
1  Anupam   33

In [18]:
from anupam import *
print('Done')

Done

In [16]:
sum_of_n_natural_numbers(56)

1596

In [20]:
import turtle
print('Done')

Done

In [2]:
import turtle
for i in range(180):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['red','blue','lime','cyan']
    import random 
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.right(2)

In [1]:
import turtle 
for i in range(6):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.left(60)

In [1]:
import turtle 
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(150)
    turtle.right(120)

In [3]:
# File Handing 
# types of files
#1:- Text File
#.py,.html,.csv,.tsv,.css,.java,.js,.json,.js
#2:- Binary File 
#.pdf,.mp3,.mp4,.png,.jpeg,.exe,.zip,.dat,.tar,.rar,.xlsx,.ppt,.doc,.ipynb

In [5]:
#handling:- read,write,copy,append,delete,open,close

In [6]:
# context manager

In [13]:
file = open('anupam.py',mode = 'r')
print(file.read(101))
file.close()

print('''This is Anupam Module in Python
Info:https://www.google.com/''')


def check_palindfrome(wor

In [14]:
file = open('anupam.py',mode = 'r')
print(file.read())
file.close()

print('''This is Anupam Module in Python
Info:https://www.google.com/''')


def check_palindfrome(word:str):
    if type(word) == str:
        word = word.upper()
        if word == word[::-1]:
            return 'Palindrome'
        else:
            return'Not a Palindrome'
    else:
        return 'Invalid Data Type'


def give_fibo(n):
    fibo = [0,1]
    for i in range (n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num+second_last_num
        fibo.append(next_num)
    return fibo


def check_prime(n):
    for i in range(2,n):
        if n % i ==0:
            print( 'Happy holi')
            return 'Not a Prime Number'
            break
    else:
        return 'Prime Number'

def print_star(n=5,typ = 'right',shape = '*'):
  if typ == 'left':
    space = ''
  elif typ == 'right':
    space = '  '
  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
      print(space*(n-i) + i*f'{shape} ')


def sum_of_n_natural_numbers(n):
    result  = 0
    for i in range(1,n+1):
        result += i
    return result


def factorial(n):
    result =1
    for i in range(1,n+1):
        result *= i
    return result


def total_sales(*args):
    #unpacking
    result = 0
    for i in args:
      result += i
    return result


def min_element(sales):
    sales = [466,852,-6,354,-5,265,456,1]
    min_element = sales[0]
    for i in sales[1:]:
        if i < min_element:
            print(i)
            min_element = i
        # print(min_element)


#maxsales function
def max_sales(sales):
    max_element = sales[0]
    for i in sales[1:]:
        if i > max_element:
            max_element = i
    return(max_element)


def store_records(name,age,sec,roll_no,Class):
    data = {'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    result = pd.DataFrame(data,index=[1])
    return result

def students_records(**kwargs):#keyword arguments
    print(kwargs)
    import pandas as pd
    results = pd.DataFrame(kwargs,index=[1])
    return results


def sound_box(paisa,platform = 'Paytm'):
    from gtts import gTTS
    text =f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [16]:
a = 'ajay'
b = 'ajay'
C = 'ajay'
print(id(a))
print(id(b))
print(id(C))

2266186277792
2266186277792
2266186277792

In [17]:
a is b

True

In [18]:
b is C

True

In [49]:
f =  open('anupam.py',mode = 'r')

In [54]:
print(f.readline())

def check_palindfrome(word:str):

In [55]:
f.close()
print('Done')

Done

In [58]:
f = open('anupam.py',mode = 'r')
for i in range(10):
    if i ==4:
        print(f.readline())
    else:
        f.readline()

def check_palindfrome(word:str):

In [66]:
f = open('anupam.py',mode = 'r')

data = f.readlines()
print(data)
f.close()
print('Done')

["print('''This is Anupam Module in Python\n", "Info:https://www.google.com/''')\n", '\n', '\n', 'def check_palindfrome(word:str):\n', '    if type(word) == str:\n', '        word = word.upper()\n', '        if word == word[::-1]:\n', "            return 'Palindrome'\n", '        else:\n', "            return'Not a Palindrome'\n", '    else:\n', "        return 'Invalid Data Type'\n", '\n', '\n', 'def give_fibo(n):\n', '    fibo = [0,1]\n', '    for i in range (n-2):\n', '        last_num = fibo[-1]\n', '        second_last_num = fibo[-2]\n', '        next_num = last_num+second_last_num\n', '        fibo.append(next_num)\n', '    return fibo\n', '\n', '\n', 'def check_prime(n):\n', '    for i in range(2,n):\n', '        if n % i ==0:\n', "            print( 'Happy holi')\n", "            return 'Not a Prime Number'\n", '            break \n', '    else:\n', "        return 'Prime Number'\n", '\n', "def print_star(n=5,typ = 'right',shape = '*'):\n", "  if typ == 'left':\n", "    space = ''\n", "  elif typ == 'right':\n", "    space = '  '\n", "  elif typ == 'mid':\n", "    space = ' '\n", '    \n', '  for i in range(1,n+1):\n', "      print(space*(n-i) + i*f'{shape} ')\n", '\n', '\n', 'def sum_of_n_natural_numbers(n):\n', '    result  = 0\n', '    for i in range(1,n+1):\n', '        result += i \n', '    return result \n', '\n', '\n', 'def factorial(n):\n', '    result =1\n', '    for i in range(1,n+1):\n', '        result *= i\n', '    return result\n', '\n', '\n', 'def total_sales(*args):\n', '    #unpacking\n', '    result = 0\n', '    for i in args:\n', '      result += i\n', '    return result\n', '\n', '\n', 'def min_element(sales):\n', '    sales = [466,852,-6,354,-5,265,456,1]\n', '    min_element = sales[0]\n', '    for i in sales[1:]:\n', '        if i < min_element:\n', '            print(i)\n', '            min_element = i \n', '        # print(min_element)\n', '\n', '\n', '#maxsales function\n', 'def max_sales(sales):\n', '    max_element = sales[0]\n', '    for i in sales[1:]:\n', '        if i > max_element:\n', '            max_element = i\n', '    return(max_element)\n', '\n', '\n', 'def store_records(name,age,sec,roll_no,Class):\n', "    data = {'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}\n", '    import pandas as pd\n', '    result = pd.DataFrame(data,index=[1])\n', '    return result\n', '\n', 'def students_records(**kwargs):#keyword arguments\n', '    print(kwargs)\n', '    import pandas as pd \n', '    results = pd.DataFrame(kwargs,index=[1])\n', '    return results \n', '\n', '\n', "def sound_box(paisa,platform = 'Paytm'):\n", '    from gtts import gTTS \n', "    text =f'''{platform} par {paisa} rs Prapt hue.'''\n", '    audio = gTTS(text)\n', "    audio.save('paytm.mp3')\n", '\n', '    import pygame as p\n', '    p.init()\n', '    \n', "    music = p.mixer.Sound('paytm.mp3')\n", '    music.play()']
Done

In [67]:
print(data[10])

            return'Not a Palindrome'

In [69]:
print(data[5:35])

['    if type(word) == str:\n', '        word = word.upper()\n', '        if word == word[::-1]:\n', "            return 'Palindrome'\n", '        else:\n', "            return'Not a Palindrome'\n", '    else:\n', "        return 'Invalid Data Type'\n", '\n', '\n', 'def give_fibo(n):\n', '    fibo = [0,1]\n', '    for i in range (n-2):\n', '        last_num = fibo[-1]\n', '        second_last_num = fibo[-2]\n', '        next_num = last_num+second_last_num\n', '        fibo.append(next_num)\n', '    return fibo\n', '\n', '\n', 'def check_prime(n):\n', '    for i in range(2,n):\n', '        if n % i ==0:\n', "            print( 'Happy holi')\n", "            return 'Not a Prime Number'\n", '            break \n', '    else:\n', "        return 'Prime Number'\n", '\n', "def print_star(n=5,typ = 'right',shape = '*'):\n"]

In [70]:
for i in data[:16]:
    print(i)

print('''This is Anupam Module in Python

Info:https://www.google.com/''')





def check_palindfrome(word:str):

    if type(word) == str:

        word = word.upper()

        if word == word[::-1]:

            return 'Palindrome'

        else:

            return'Not a Palindrome'

    else:

        return 'Invalid Data Type'





def give_fibo(n):