In [10]:
def check_palindrome(word):
    return word

In [14]:
check_palindrome('Ajay')

'Ajay'

In [18]:
a = 'lucky'
a[::-1]

'ykcul'

In [19]:
if a == a[::-1]:
   print(f'{a} is a palindrome')
else:
   print(f'{a} is not a palimdrome')

lucky is not a palimdrome

In [27]:
def check_palindfrome(word:str):
    if type(word) == str:
        word = word.upper()
        if word == word[::-1]:
            return 'Palindrome'
        else:
            return'Not a Palindrome'
    else:
        return 'Invalid Data Type'

In [30]:
check_palindfrome('word')

'Not a Palindrome'

In [24]:
a:int = 'Mohan'
print(a)

Mohan

In [39]:
def give_fibo(n):
    fibo = [0,1]
    for i in range (n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num+second_last_num
        fibo.append(next_num)
    return fibo

In [38]:
data = [34,56,368,456]
print(data[-1])
print(data[-2])

456
368

In [40]:
give_fibo(6)

[0, 1, 1, 2, 3, 5]

In [45]:
print(give_fibo(25))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]

In [46]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [69]:
def check_prime(n):
    for i in range(2,n):
        if n % i ==0:
            print( 'Happy holi')
            return 'Not a Prime Number'
            break 
    else:
        return 'Prime Number'

In [70]:
check_prime(23)

'Prime Number'

In [71]:
check_prime(22)

Happy holi

'Not a Prime Number'

In [80]:
n = 5.0
print('Hello'*int(n))

HelloHelloHelloHelloHello

In [84]:
n = 4
for i in range(n):
    print(i)

0
1
2
3

In [88]:
n = 9
for i in range(1,n+1):
    print(i* '*')

*
**
***
****
*****
******
*******
********
*********

In [104]:
n = 5

for i in range(1,n+1):
    print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [105]:
def print_star(n=5,typ = 'left'):
    for i in range(1,n+1):
      print(' '*(n-i) + i*'* ')

In [106]:
print_star(3)

  *
 * *
* * *

In [166]:
def print_star(n=5,typ = 'right',shape = '*'):
  if typ == 'left':
    space = ''
  elif typ == 'right':
    space = '  '
  elif typ == 'mid':
    space = ' '
    
  for i in range(1,n+1):
      print(space*(n-i) + i*f'{shape} ')

In [167]:
print_star(7,'right')

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [168]:
print_star(5,'left')

*
* *
* * *
* * * *
* * * * *

In [169]:
print_star(5,'mid')

    *
   * *
  * * *
 * * * *
* * * * *

In [176]:
def sum_of_n_natural_numbers(n):
    result  = 0
    for i in range(1,n+1):
        result += i 
    return result

In [177]:
sum_of_n_natural_numbers(10)

55

In [181]:
sum_of_n_natural_numbers(333)

55611

In [184]:
def factorial(n):
    result =1
    for i in range(1,n+1):
        result *= i
    return result

In [186]:
factorial(3)

6

In [194]:
def total_sales(*args):
    #unpacking
    result = 0
    for i in args:
      result += i
    return result

In [195]:
total_sales(1,2,4,6,77,98)

188

In [196]:
sales = [466,852,496,354,148,265,794,456,246]
max(sales)

852

In [2]:
def min_element(sales):
    sales = [466,852,-6,354,-5,265,456,1]
    min_element = sales[0]
    for i in sales[1:]:
        if i < min_element:
            print(i)
            min_element = i 
        # print(min_element)

In [41]:
sales = (6,852,496,354,990,265,794,456,26)
max_element = sales[0]
for i in sales[1:]:
    if i > max_element:
        max_element = i
print(max_element)

990

In [42]:
#maxsales function
def max_sales(sales):
    max_element = sales[0]
    for i in sales[1:]:
        if i > max_element:
            max_element = i
    return(max_element)

In [44]:
max_sales(sales)

990

In [68]:
company = ['ola','','uber','rapido','blinkit','','tata','hi']
#OLA,#UBER,#RAPIDO

def add_hastag(company):
    result = []
    for i in company:
      result.append('#'+i.upper())
    return result

In [69]:
add_hastag(company)

['#OLA', '#', '#UBER', '#RAPIDO', '#BLINKIT', '#', '#TATA', '#HI']

In [89]:
def store_records(name,age,sec,roll_no,Class):
    data = {'Name':name,'Age':age,'Sec':sec,'Roll_no':roll_no,'Class':Class}
    import pandas as pd
    result = pd.DataFrame(data,index=[1])
    return result

In [92]:
display(store_records('Nakul',18,'arts',15,12))
display(store_records('Anupam',18,'arts',14,11))
display(store_records('Peeyush',18,'arts',11,10))

    Name  Age   Sec  Roll_no  Class
1  Nakul   18  arts       15     12

     Name  Age   Sec  Roll_no  Class
1  Anupam   18  arts       14     11

      Name  Age   Sec  Roll_no  Class
1  Peeyush   18  arts       11     10

In [109]:
def students_records(**kwargs):#keyword arguments
    print(kwargs)
    import pandas as pd 
    results = pd.DataFrame(kwargs,index=[1])
    return results

In [110]:
students_records(Name = 'Anupam Jangra',Age = 20,sec = 'E2',rol_no =75,Address = 'Delhi')

{'Name': 'Anupam Jangra', 'Age': 20, 'sec': 'E2', 'rol_no': 75, 'Address': 'Delhi'}

            Name  Age sec  rol_no Address
1  Anupam Jangra   20  E2      75   Delhi